* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #004a9f, #00b4d8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  width: 350px;
  animation: fadeIn 0.8s ease-in-out;
}

.logo {
  width: 90px;        
  max-width: 100%;
  margin-bottom: 20px;
}


h1 {
  color: #003366;
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitulo {
  color: #555;
  font-size: 14px;
  margin-bottom: 30px;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  text-decoration: none;
  background: #0077b6;
  color: white;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.3s ease;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.btn:hover {
  background: #023e8a;
  transform: scale(1.05);
}

/* Animación suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

