<!DOCTYPE html>
<html>
<head>
  <title>Administración - SIGAA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/diseño.css') }}">
</head>
<body>

<div class="panel">
  <h1>⚙️ Panel de Administración</h1>

  <div class="card">
    <h3>Crear Usuario</h3>
    <input id="uNombre" class="input" placeholder="Nombre">
    <input id="uApellido" class="input" placeholder="Apellido">
    <input id="uEmail" class="input" placeholder="Correo">
    
    <select id="uRol" class="input">
      <option value="estudiante">Estudiante</option>
      <option value="docente">Docente</option>
      <option value="admin">Administrador</option>
    </select>

    <button id="btnCrearUsuario" class="btn">Crear Usuario</button>
  </div>

  <div class="card">
    <h3>Usuarios Registrados</h3>

    <table id="tablaUsuarios">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <a href="/" class="btn volver">Volver</a>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
